<footer class="footer__container">
	<div class="footer__header">
		<img src="assets/ps-plus.webp" alt="" srcset="">
	</div>
	<div class="footer__content">
		<div class="footer__session">
			<ul>
				<li>Suporte</li>
				<li>Política de privacidade</li>
				<li>Termos de uso do site</li>
			</ul>
		</div>
		<div class="footer__session">
			<ul>
				<li>Sobre as classificações</li>
				<li>Termos de serviço da PSN</li>
				<li>Termos de uso do site</li>
			</ul>
		</div>
		<div>
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
<ul class="social-links">
  <li><a href="https://www.youtube.com/channel/UCHXJym4fxbuVW94CzqYPYNg"><i class="fab fa-youtube"></i></a></li>
  <li><a href="https://www.linkedin.com/in/juan-jose-mancilla-callejas/"><i class="fab fa-linkedin"></i></a></li>
  <li><a href="https://github.com/JuaenMc"><i class="fab fa-github"></i></a></li>
  <li><a href="https://www.instagram.com/juaen_mc/"><i class="fab fa-instagram"></i></a></li>
</ul>

		</div>
	</div>
	<div class="footer">
		<h4>© 2023 Sony Interactive Entertainment Inc. Todos os direitos reservados.</h4>
	</div>
</footer>
