<div class="menu-bar__container">
	<div class="menu-bar__content">
		<div class="menu-bar__logo">
			<img src="assets/ps-logo.png" alt="playstation logo" srcset="" width="140px" height="32px">
		</div>
		<div class="menu-bar__item">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
			<ul class="social-links">
			  <li><a href="https://www.youtube.com/channel/UCHXJym4fxbuVW94CzqYPYNg"><i class="fab fa-youtube"></i></a></li>
			  <li><a href="https://www.linkedin.com/in/juan-jose-mancilla-callejas/"><i class="fab fa-linkedin"></i></a></li>
			  <li><a href="https://github.com/JuaenMc"><i class="fab fa-github"></i></a></li>
			  <li><a href="https://www.instagram.com/juaen_mc/"><i class="fab fa-instagram"></i></a></li>
			</ul>
			
		</div>
	</div>
	<div class="menu-bar__section">
		<ul>
			<li><a href="#prevenda">Pré-venda</a></li>
			<li><a href="#novosjogos">Novos jogos</a></li>
			<li><a href="#demonstracoes">Demonstrações</a></li>
		</ul>
	</div>
</div>